<foreach for="$theModel->childIterator()" item="row">					
			{= $row->child('userto')->data('username') }:{= $row->data('text') }  <a href="?c=microblog.MicroBlogDelete&id={= $row->data('mbid') }">删除</a>   <a href="?c=microblog.MicroBlogForward&id={= $row->data('mbid') }">转发</a>    <a href="?c=microblog.MicroBlogReview&id={= $row->data('mbid') }">评论</a><br/>
			<if "$row->data('forward')!=0" >
				<foreach for="$theModel->childIterator()" item="row1">
					<if "$row->data('forward')==$row1->data('mbid')" >
					&nbsp;&nbsp;&nbsp;{= $row1->child('userto')->data('username') }:{= $row1->data('text') }  <a href="?c=microblog.MicroBlogForward&id={= $row1->data('mbid') }">原文转发</a>    <a href="?c=microblog.MicroBlogReview&id={= $row1->data('mbid') }">原文评论</a><br/>
					</if>
				</foreach>
			</if>
			
</foreach>