<foreach for="$theModel->childIterator()" item="row">					
			{= $row->child('userto')->data('username') }:{= $row->data('text') }  <a href="?c=microblog.delete&id={= $row->data('mbid') }">删除</a>   <a href="?c=microblog.forward&id={= $row->data('mbid') }">转发</a>    <a href="?c=microblog.review&id={= $row->data('mbid') }">评论</a><br/>
			<if "$row->data('forward')!=0" >
				{? $forward=$row->child('forward'); }
				&nbsp;&nbsp;&nbsp;{= $forward->child('userto')->data('username') }:{= $forward->data('text') }  <a href="?c=microblog.forward&id={= $forward->data('mbid') }">原文转发</a>    <a href="?c=microblog.review&id={= $forward->data('mbid') }">原文评论</a><br/>
								
			</if>
			
</foreach>